body{
    background-color: rgba(245, 214, 173, 0.836);
}
h1 {
    color: blue;
    background-color: yellow;
    display: inline;
    border: 2px solid black;
}
#click-btn{
    background-color: #040692;
    color: white;
    font-weight: 500;
    width: 67px;
    height: 17px;
    border: 1px;

}